// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}


/* Category Filter */
@media screen and (min-width: 1024px) {
    .halo-category-toolbar {
        &.custom-top-filter {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: nowrap;

            .column-left {
                max-width: 65%;
                width: fit-content;

                .custom-new-filter {
                    margin-top: 32px;
                    #faceted-search-container {
                        margin-bottom: 0;
                        @media screen and (min-width: 1024px) {
                            width: 100%;
                        }
                    }

                    .sidebar__inner--custom {
                        #facetedSearch {
                            display: flex;
                            align-items: center;
                            width: fit-content;

                            .facetedSearch-refineFilters {
                                margin-right: 20px;
                                .sidebarBlock-heading {
                                    text-transform: capitalize;
                                    white-space: nowrap;
                                    font-weight: 500;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }

                        #facetedSearch-navList {
                            .accordion--navList {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;

                                .accordion-block {
                                    position: relative;
                                    min-width: 210px;
                                    height: 50px;
                                    line-height: 48px;
                                    padding: 0 15px;
                                    font-size: 12px;
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-top: 0;
                                    margin-right: 10px;
                                    position: relative;
                                    border: 1px solid #bebebe;
                                    margin-bottom: 10px;
                                    border-radius: 4px;

                                    .accordion-title {
                                        font-size: 16px;
                                        color: #424242;
                                        text-transform: capitalize;
                                        font-weight: 400;
                                    }

                                    .accordion-content {
                                        padding: 0 0 0 15px;
                                        left: -1px;
                                        top: 100%;
                                        z-index: 15;
                                        width: 100%;
                                        min-width: 210px;
                                        position: absolute;
                                        display: block;
                                        opacity: 0;
                                        visibility: hidden;
                                        background-color: #fff;
                                        border: 1px solid #bebebe;
                                        transition: all 0.3s ease;

                                        .navList {
                                            overflow-x: hidden;
                                            max-height: 280px;
                                            overflow-y: auto;

                                            &::-webkit-scrollbar {
                                                width: 4px;
                                            }

                                            &::-webkit-scrollbar-track {
                                                background: #f5f5f5;
                                            }

                                            &::-webkit-scrollbar-thumb {
                                                background: #a6a6a6;
                                            }

                                            &::-webkit-scrollbar-thumb:hover {
                                                background: #787878;
                                            }
                                        }

                                        .toggleLink {
                                            display: none;
                                        }
                                    }

                                    &:hover {
                                        .accordion-content {
                                            display: block;
                                            opacity: 1;
                                            visibility: visible;
                                        }

                                        button {
                                            span:not(.accordion-title) {
                                                &::after {
                                                    transform: translateY(-50%)
                                                        rotate(180deg) !important;
                                                }
                                            }
                                        }
                                    }

                                    .accordion-nav-clear-holder {
                                        button {
                                            margin-bottom: 0 !important;

                                            span:not(.accordion-title) {
                                                position: relative;
                                                &::after {
                                                    content: '';
                                                    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-chevron-down fa-w-14 fa-3x'%3E%3Cpath fill='%23000000' d='M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z' class=''%3E%3C/path%3E%3C/svg%3E");
                                                    background-repeat: no-repeat;
                                                    position: absolute;
                                                    top: 50%;
                                                    transform: translateY(-50%)
                                                        rotate(0);
                                                    width: 15px;
                                                    height: 15px;
                                                    right: 0;
                                                    transition: transform linear
                                                        0.2s;
                                                }
                                                .icon {
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                        .facetedSearch-clearLink {
                                            display: none;
                                        }
                                    }

                                    /* For Price Filter */
                                    #facetedSearch-content--price {
                                        padding-left: 0;

                                        #facet-range-form {
                                            .form-minMaxRow {
                                                margin: 0;
                                                padding-top: 8px;

                                                .form-field {
                                                    width: 50%;
                                                    .form-input {
                                                        border-radius: 4px;
                                                    }

                                                    .button {
                                                        border-radius: 4px;
                                                        width: 100%;
                                                        margin-top: 12px;
                                                    }

                                                    &:has(.button) {
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                            .form-inlineMessage {
                                                padding-top: 6px;
                                                padding-bottom: 12px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .column-right {
                width: 35%;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                z-index: 99;

                @media screen and (min-width: 1024px) {
                    margin-bottom: 15px;
                }

                .actionBar {
                    &.show-product {
                        display: none;
                    }

                    &[data-sort-by='product'] {
                        margin-left: 0;

                        .form-fieldset {
                            width: fit-content;
                            .form-field {
                                border: 0;
                                margin-bottom: 0;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-align: center;
                                align-items: center;

                                .form-label {
                                    vertical-align: middle;
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #000;
                                    line-height: 25px;
                                    letter-spacing: 0;
                                    text-transform: capitalize;
                                    margin-right: 11px;
                                    margin-bottom: 0;
                                    padding: 0;
                                    line-height: 1;
                                    width: 100%;
                                    display: inline-block;
                                    min-width: 60px;
                                }

                                .form-select {
                                    border: 1px solid #cbcbcb;
                                    border-radius: 4px !important;
                                    padding-left: 15px;
                                    color: #000;
                                    border-radius: 0;
                                    padding: 8px 15px 9px 15px;
                                    height: 50px;
                                    font-size: 16px;
                                    letter-spacing: 0;
                                    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-chevron-down fa-w-14 fa-3x'%3E%3Cpath fill='%23000000' d='M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z' class=''%3E%3C/path%3E%3C/svg%3E");
                                    background-size: 13px;
                                    background-position: right 13px top 15px;

                                    @media screen and (min-width: 1800px) {
                                        min-width: 210px;
                                    }

                                    @media screen and (min-width: 1600px) {
                                        min-width: 180px;
                                    }
                                }
                            }
                        }
                    }
                }

                .view-as-btn {
                    display: flex;
                    margin-left: 25px;

                    .btn-group {
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;
                        overflow: hidden;

                        .btn-view {
                            display: inline-block;
                            background: #fff;
                            font-size: 0;
                            text-align: center;
                            padding: 12px 5px;
                            min-width: 50px;
                            height: 50px;
                            border: 1px solid #bebebe;

                            &.grid-view {
                                border-right: none;
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &.list-view {
                                margin-left: 0 !important;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;

                                .icon {
                                    width: 36px;
                                    height: 36px;
                                    transform: translateY(-4px);
                                }
                            }

                            .icon {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .page-sidebar.sidebar-show + #product-listing-container,
    .page-sidebar.sidebar-show + .page-content {
        width: 100%;
    }
}
